@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.adminmainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.leftSide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 300px;
  background-color: rgb(125, 198, 176);
  padding: 20px 30px;
}

h1 {
  font-size: 28px;
}
.sideItems {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sideItems .item {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
.sideItems .clicked {
  background-color: rgb(48, 52, 56);
  color: white;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
.sideItems .item:hover {
  scale: 1.02;
}
.rightSide {
  margin-left: 380px;
}
.rightSide .infoSection {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.rightSide .infoSection .dashboardbox {
  border: 1px solid rgb(151, 146, 146);
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  gap: 5px;
}
.rightSide .infoSection .dashboardbox span {
  font-size: 55px;
  font-weight: 500;
}
.rightSide .infoSection .dashboardbox div {
  font-size: 22px;
}
#closebutton {
  display: none;
}
.btn {
  padding: 10px 20px;
  background-color: aqua;
  border: 0px solid black;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn:hover {
  background-color: rgb(11, 187, 187);
}
.modal {
  background-color: rgba(16, 15, 15, 0.5);
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modalContent {
  position: relative;
  min-height: 400px;
  width: 500px;
  background-color: aliceblue;
  border-radius: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
th {
  background-color: lightgray;
}
.addButton {
  padding: 10px;
  background-color: brown;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.addButton:hover {
  background-color: rgb(128, 28, 28);
}
.closeButton {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 16, 16);
  border-radius: 100%;
  color: white;
}
.closeButton:hover {
  transform: rotate(-120deg);
}
.productModal {
  margin: 20px;
}
.modalContent {
  padding: 20px 30px;
}
.modalContent h1 {
  font-size: 30px;
  font-weight: 700;
  color: brown;
}
.insideSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.productInputbox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.productInputbox label {
  font-size: 18px;
  font-weight: 500;
}
.productInputbox input {
  padding: 8px;
  outline: none;
  border: 1px solid rgb(21, 2, 2);
  border-radius: 2px;
}
.productInputbox select {
  padding: 6px;
}
.productInputbox .radiosection {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}
.productInputbox .radioItem {
  display: flex;
  gap: 10px;
}
.productInputbox textarea {
  height: 100px;
  padding: 10px;
  outline: none;
}

.userInputbox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.userInputbox input {
  padding: 8px;
  outline: none;
  border: 1px solid rgb(21, 2, 2);
  border-radius: 2px;
}
.errormessage {
  color: red;
}
.hideContainer {
  display: none;
}
.slider {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.slider:hover {
  scale: 1.1;
}
.slider i {
  font-size: 22px;
}

@media screen and (max-width: 1000px) {
  .leftSide {
    display: none;
  }
  .slider {
    display: flex;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .slider:hover {
    scale: 1.1;
  }
  .slider i {
    font-size: 22px;
  }
  .leftSideMobile {
  }
  .rightSide {
    margin-left: 40px;
    margin-top: 20px;
  }
  #closebutton {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #closebutton:hover {
    background-color: rgb(232, 233, 235);
    border-radius: 100%;
    transform: rotate(-45deg);
  }
}
