@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.adminmainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.leftSide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 300px;
  background-color: rgb(125, 198, 176);
  padding: 20px 30px;
}

h1 {
  font-size: 28px;
}
.sideItems {
  margin: 30px 0px;
}
.sideItems .item {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
.sideItems .clicked {
  background-color: rgb(48, 52, 56);
  color: white;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
.sideItems .item:hover {
  scale: 1.02;
}
.slider {
  display: none;
}

.rightSide {
  margin-left: 350px;
}
.rightSide .infoSection {
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.rightSide .infoSection .dashboardbox {
  border: 1px solid rgb(151, 146, 146);
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  gap: 5px;
}
.rightSide .infoSection .dashboardbox span {
  font-size: 55px;
  font-weight: 500;
}
.rightSide .infoSection .dashboardbox div {
  font-size: 22px;
}

@media screen and (max-width: 1000px) {
  .leftSide {
    display: none;
    
  }
  .slider {
    display: flex;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .slider:hover {
    scale: 1.1;
  }
  .slider i {
    font-size: 22px;
  }
  .leftSideMobile {
  }
  .rightSide {
    margin-left: 10px;
  }
}
