.cartContainer {
  margin-top: 50px;
  padding: 40px 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 60px;
}
.cartContainer .leftSide {
  width: 100%;
}

.cartContainer .leftSide .headCart span {
  font-size: 42px;
  font-weight: 600;
}
.leftSide .cardItems {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftSide .item {
  position: relative;
  background-color: rgba(47, 178, 8, 0.12);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(215, 215, 215);
  box-shadow: 1px 2px 14px 12px #d9d7d7;
}
.leftSide .item .image {
  width: 100px;
  height: 100px;
}
.leftSide .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.leftSide .item h1 {
  font-size: 26px;
  font-weight: 600;
}
.leftSide .content {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 28px;
}
.leftSide input {
  position: absolute;
  top: 10px;
  right: 14px;
  width: 16px;
  height: 16px;
}
.leftSide .content-items {
  margin-top: 8px;
}
.leftSide .content-items p {
  margin-top: 12px;
  font-size: 20px;
}
.leftSide .leftSideArea {
  display: flex;
  gap: 20px;
}
.leftSide .another {
  display: flex;
  gap: 60px;
}
.leftSide .buttons {
  display: flex;
  gap: 44px;
  margin-bottom: 14px;
  margin-right: 20px;
  align-items: center;
}
.leftSide .buttons .quantity {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
}
.leftSide .buttons .quantity button {
  padding: 6px;
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.leftSide .buttons .quantity button:hover {
  color: blue;
  scale: 1.4;
}
.leftSide .buttons .deleteBtn {
  cursor: pointer;
  color: red;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.leftSide .buttons .deleteBtn:hover {
  scale: 1.08;
  color: rgb(209, 4, 4);
}
@media screen and (max-width: 980px) {
  .cartContainer {
    margin-top: 50px;
    padding: 40px 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
  }
  .cartContainer .leftSide {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .cartContainer {
    padding: 20px 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
  }
  .cartContainer .leftSide {
    width: 100%;
  }
  .cartContainer .leftSide .headCart span {
    font-size: 32px;
    font-weight: 600;
  }
  .leftSide .cardItems {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .leftSide .item {
    position: relative;
    background-color: rgba(47, 178, 8, 0.12);
    padding: 8px;
    min-width: 450px;
    border-radius: 4px;
    border: 1px solid rgb(215, 215, 215);
    box-shadow: 1px 2px 14px 12px #d9d7d7;
  }
  .leftSide .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 28px;
  }
}

.cartContainer .rightSide {
  margin-top: 10px;
  background-color: rgb(22, 65, 1);
  width: 450px;
  padding: 40px 30px;
  border-radius: 4px;
  color: white;
  box-shadow: 5px 10px 8px 10px #d9d7d7;
}
.cartContainer .rightSide span {
  font-size: 20px;
  font-weight: 600;
}
.cartContainer .rightSide .line {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(222, 222, 222);
  height: 2px;
}
.cartContainer .orderSummary {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cartContainer .orderSummary .summaryItems {
  display: flex;
  justify-content: space-between;
}
.start {
  font-size: 18px;
  font-weight: 600;
}
.cartContainer .total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.cartContainer .checkoutBtn {
  margin-top: 40px;
  width: 100%;
  padding: 16px 20px;
  background-color: rgb(245, 245, 245);
  outline: none;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
}
.cartContainer .checkoutBtn:hover {
  background-color: rgb(212, 208, 208);
}

/* Modal Background */
.loginModal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);

  align-items: center;
  justify-content: center;

  z-index: 9999;
}

/* Modal Box */
.loginModalContent {
  position: relative;
  width: 400px;
  max-width: 90%;
  background: #fff;
  border-radius: 16px;
  padding: 35px 30px;
  text-align: center;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.closeModal {
  position: absolute;
  top: 15px;
  right: 18px;

  border: none;
  background: none;

  font-size: 28px;
  color: #777;
  cursor: pointer;
}

.closeModal:hover {
  color: #111;
}

/* Lock Icon */
.loginIcon {
  width: 60px;
  height: 60px;

  margin: 0 auto 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #f1f1f1;

  font-size: 25px;
}

/* Heading */
.loginModalContent h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

/* Description */
.loginModalContent p {
  margin: 0 auto 25px;

  max-width: 320px;

  color: #666;
  line-height: 1.6;
}

/* Buttons */
.modalButtons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.modalButtons button {
  padding: 11px 25px;
  border-radius: 8px;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
}

/* Cancel */
.cancelBtn {
  background: #f1f1f1;
  border: none;
  color: #333;
}

.cancelBtn:hover {
  background: #e5e5e5;
}

/* Login */
.loginBtn {
  background: #111;
  border: 1px solid #111;
  color: white;
}

.loginBtn:hover {
  background: #333;
}
